ProjetPersoTest/obj/Debug/ProjetPersoTest.pdb
ProjetPersoTest/obj/Debug/ProjetPersoTest.dll
ProjetPersoTest/obj/Debug/ProjetPersoTest.csproj.FileListAbsolute.txt
ProjetPersoTest/obj/Debug/ProjetPersoTest.csproj.CoreCompileInputs.cache
ProjetPersoTest/bin/ProjetPersoTest.pdb
ProjetPersoTest/bin/ProjetPersoTest.dll
.vs/config/applicationhost.config
.vs/ProjetPersoTest/v15/Server/sqlite3/storage.ide
.vs/ProjetPersoTest/v15/Server/sqlite3/db.lock
.vs/ProjetPersoTest/v15/.suo
.vs/MapConnect/v15/.suo
ProjetPersoTest/obj/Debug/MapConnect.csproj.CoreCompileInputs.cache
.vs/MapConnect/v15/Server/sqlite3/storage.ide-wal
.vs/MapConnect/v15/Server/sqlite3/storage.ide-shm
ProjetPersoTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/MapConnect/v15/Server/sqlite3/storage.ide
ProjetPersoTest/bin/roslyn/vbc.exe.config
ProjetPersoTest/bin/roslyn/vbc.exe
ProjetPersoTest/bin/roslyn/VBCSCompiler.exe.config
ProjetPersoTest/bin/roslyn/VBCSCompiler.exe
ProjetPersoTest/bin/roslyn/csi.exe.config
ProjetPersoTest/bin/roslyn/csi.exe
ProjetPersoTest/bin/roslyn/csc.exe.config
ProjetPersoTest/bin/roslyn/csc.exe
ProjetPersoTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjetPersoTest/bin/roslyn/Microsoft.VisualBasic.Core.targets
ProjetPersoTest/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
ProjetPersoTest/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
ProjetPersoTest/bin/roslyn/Microsoft.CodeAnalysis.dll
ProjetPersoTest/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
ProjetPersoTest/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
ProjetPersoTest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
ProjetPersoTest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
ProjetPersoTest/bin/roslyn/Microsoft.CSharp.Core.targets
ProjetPersoTest/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll