.vs/config/applicationhost.config
.vs/MapConnect/v15/.suo
.vs/MapConnect/v15/Server/sqlite3/storage.ide
VMware/
MapConnect/obj/Debug/ProjetPersoTest.pdb
MapConnect/obj/Debug/ProjetPersoTest.dll
MapConnect/obj/Debug/ProjetPersoTest.csproj.FileListAbsolute.txt
MapConnect/obj/Debug/ProjetPersoTest.csproj.CoreCompileInputs.cache
MapConnect/bin/ProjetPersoTest.pdb
MapConnect/bin/ProjetPersoTest.dll
MapConnect/bin/roslyn/VBCSCompiler.exe
MapConnect/bin/roslyn/csi.exe.config
MapConnect/bin/roslyn/csi.exe
MapConnect/bin/roslyn/csc.exe.config
MapConnect/bin/roslyn/csc.exe
MapConnect/bin/roslyn/Microsoft.VisualBasic.Core.targets
MapConnect/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
MapConnect/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
MapConnect/bin/roslyn/Microsoft.CodeAnalysis.dll
MapConnect/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
MapConnect/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
MapConnect/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
MapConnect/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
MapConnect/bin/roslyn/Microsoft.CSharp.Core.targets
MapConnect/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
MapConnect/bin/roslyn/vbc.exe.config
MapConnect/bin/roslyn/vbc.exe
MapConnect/bin/roslyn/VBCSCompiler.exe.config
MapConnect/bin/*
MapConnect/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MapConnect/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MapConnect/obj/Debug/MapConnect.csproj.CoreCompileInputs.cache
MapConnect/.vs/config/applicationhost.config
MapConnect/.vs/ProjetPersoTest/v15/Server/sqlite3/storage.ide-wal
MapConnect/.vs/ProjetPersoTest/v15/Server/sqlite3/storage.ide-shm
MapConnect/.vs/ProjetPersoTest/v15/Server/sqlite3/storage.ide
MapConnect/.vs/ProjetPersoTest/v15/Server/sqlite3/db.lock
MapConnect/.vs/ProjetPersoTest/v15/.suo
.vs/MapConnect/v15/Server/sqlite3/storage.ide-wal
.vs/MapConnect/v15/Server/sqlite3/storage.ide-shm
TODO.txt
*.lck
Virtual Machines/
