ProjetPersoTest/obj/Debug/ProjetPersoTest.pdb
ProjetPersoTest/obj/Debug/ProjetPersoTest.dll
ProjetPersoTest/obj/Debug/ProjetPersoTest.csproj.FileListAbsolute.txt
ProjetPersoTest/obj/Debug/ProjetPersoTest.csproj.CoreCompileInputs.cache
ProjetPersoTest/bin/ProjetPersoTest.pdb
ProjetPersoTest/bin/ProjetPersoTest.dll
.vs/config/applicationhost.config
.vs/ProjetPersoTest/v15/Server/sqlite3/storage.ide
.vs/ProjetPersoTest/v15/Server/sqlite3/db.lock
.vs/ProjetPersoTest/v15/.suo
