@{
    ViewBag.Title = "About";
}

<h2>A propos</h2>
<img src="~/img/icon_about.png"/>
<p><b>Map Connect est une application créée à des fins de tests</b></p>
<p><b>Créateur</b> : Jérôme GOASDOUE</p>
<p><b>Développeur</b> : Jérôme GOASDOUE</p>
<p>Plus de détails sur ce projet sont disponibles <a href="https://github.com/jgoasdoue/MapConnect/wiki">ici</a> et le projet est disponible <a href="https://github.com/jgoasdoue/MapConnect">ici</a></p>
<div>Les icones utilisés dans le menu en haut de la page ont été réalisés par <a href="http://www.freepik.com" title="Freepik">Freepik</a> de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> sous la licence <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</div>