@{
    ViewBag.Title = "Index";
}

<h1>Bienvenue sur le site</h1>
<br />
<div id="info-div">
    <h3>
        News
    </h3>
    @foreach(string news in ViewBag.News){
        <div id="news">
            @Html.Raw(news)
        </div>
     }
</div>
