@{
    ViewBag.Title = "Map";
}

<h2>Page de navigation cartographique</h2>

<br />
<p>Vous pouvez choisir de positionner la carte en fonction de coordonnées...</p>
<p>
    Latitude<input id="lat" class="coordinate-spinner" name="lat" value="48.853" />Longitude<input id="lng" class="coordinate-spinner" name="lng" value="2.35" />
</p>
<p>... et régler le niveau de zoom de la carte...</p>
<div id="slider-zoom" ></div>
<br />

<p>... ou vous pouvez vous déplacer et zoomer manuellement sur la carte</p>
<!-- Balise div qui sert à afficher la carte -->
<div id="map"></div>

<!-- Importe jQuery-UI-->
<script src="~/Scripts/jquery-ui.js"></script>

<!-- Importe et lance les mécanismes qui permettent de créer la carte -->
<script src="~/Scripts/map.js"></script>
