
@{
    ViewBag.Title = "About";
}

<h2>A propos</h2>
<img src="~/img/icon_about.png"/>
<p>Map Connect est une application créée à des fins de tests</p>
<p>Créateur: Jérôme GOASDOUE</p>
<p>Développeur: Jérôme GOASDOUE</p>
<p>Plus de détails sur ce projet sont disponibles <a href="https://github.com/jgoasdoue/MapConnect/wiki">ici</a></p>