@{
    ViewBag.Title = "Deconnexion";
}

<html>
<head>
    <meta HTTP-EQUIV="REFRESH" CONTENT="0;URL=./">
    <title>Déconnexion</title>
</head>
<body>
    <h1>Déconnexion en cours...</h1>
</body>
</html>

