
@{
    ViewBag.Title = "Deconnexion";
}

<html>
<head>
    <!-- On crée une redirection automatique de la page de déconnexion à celle de connexion-->
    <meta http-equiv="refresh" content="0;url=./">
    <title>Déconnexion</title>
</head>
<body>
    <h1>Déconnexion en cours...</h1>
</body>
</html>

