
@{
    ViewBag.Title = "Deconnexion";
}

<HTML>
<HEAD>
    <META HTTP-EQUIV="REFRESH" CONTENT="0;URL=./">
    <TITLE>Déconnexion</TITLE>
</HEAD>
<BODY>
    <H1>Déconnexion en cours...</H1>
</BODY>
</HTML>

