
@{
    ViewBag.Title = "Index";
}

<h1>Bienvenue sur le site</h1>
<br />
<!--@Html.ActionLink("Pour accéder à la carte, cliquez ici", "./Map/Index", new{ connect=@ViewBag.isConnected})-->
@Html.ActionLink("Pour accéder à la carte, cliquez ici", "./Map")