
@{
    ViewBag.Title = "Map";
}

<h2>TADA! Voilà la carte<!--Texte à modifier --></h2>

<!-- Balise div qui sert à afficher la carte -->
<div id="map"></div>

<!-- Importe et lance les mécanismes qui permettent de créer la carte -->
<script src="~/Scripts/map.js"></script>