/* Définit le padding du corps de l'application */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Définit le padding du contenu présent dans le corps de l'application afin d'éviter que celui-ci ne touche les bords */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Définit la largeur des champs présents dans un formulaire, la valeur par défaut étant 100% */
input,
select,
textarea {
    max-width: 280px;
}

/* Définit la hauteur et la largeur minimales de la carte sur la page */
#map {
    min-width: 500px;
    min-height: 500px;
}

/* Définit la longueur et la largeur des balises html, body et map à 100% de la taille de la page */
html, body, #map {
    height: 100%;
    width: 100%;
}

/* Supprime la largeur maximale des conteneurs */
.container {
    max-width:none!important;
}

#app-title {
    float: left;
    font-size: 18px;
    line-height: 20px;
    color: rgba(255, 15, 15, 0.45);
}

/*.leaflet-popup .mouseover{
    opacity: 1;
}

.leaflet-popup {
    opacity: 0.5
}*/