/* Définit le padding du corps de l'application */
body {
    padding-top: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-image: url(https://vignette.wikia.nocookie.net/nyancat/images/b/b4/Slide_Nyan_Cat.gif/revision/latest?cb=20121128201318);*/
    background-image: url(http://bestanimations.com/Earth&Space/Earth/earthglobeanimation/globe-earth-animation-12.gif);
}

/* Définit le padding du contenu présent dans le corps de l'application afin d'éviter que celui-ci ne touche les bords */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Définit la largeur des champs présents dans un formulaire, la valeur par défaut étant 100% */
input,
select,
textarea {
    max-width: 280px;
}

/* Définit la hauteur et la largeur minimales de la carte sur la page */
#map {
    min-width: 500px;
    min-height: 500px;
}

/* Définit la longueur et la largeur des balises html, body et map à 100% de la taille de la page */
html, body, #map {
    height: 100%;
    width: 100%;
}

/* Supprime la largeur maximale des conteneurs */
.page-container {
    max-width: 100%;
    max-height: 100%;
    margin: 6px 0 0 0;
    padding: 0 10px 0 10px;
}

/* Mets en place le logo de l'appli */
#app-icon {
    float: left;
    max-width: 150px;
    /*width: 15vw;*/
    width: 22.5vw;
    height: auto;
}

/* Customisation des spinners de coordonnées */
.coordinate-spinner {
    border-radius: 15px;
    padding-left: 7px;
}

/* Définit la taille sur slider pour zoomer */
/*#slider-zoom {
    width:95%;
}*/

/* Définit les espaces entre les labels et les spinners*/
.ui-spinner {
    margin-left: 7px;
    margin-right: 14px;
}

/**/
#info-div {
    padding: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 9px;
}

/**/
#news {
    padding: 9px;
}

/**/
label {
    width: 150px;
}

/**/
.navbar-brand {
    max-width: 50px;
    padding-top: 7.5px;
    /*width: 5vw;*/
    width: 7.5vw;
    height: auto;
}

.img-style {
    max-width: 32px;
    /*width: 3.2vw;*/
    width: 4.8vw;
    height: auto;
}

/**/
#maintenance-msg {
    font-size: 17px;
}

/**/
.navbar-header {
    width: 100%;
    height: 7.5vw;
    max-height: 55px;
}

/**/
.topbar-right {
    float: right;
    max-width: 200px;
    width: 40vw;
    margin-right: 10px;
}

/**/
.tooltip-custom {
    background-color: darkgray;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}

.navbar-fixed-top {
    height: 7.8vw;
    max-height: 60px;
    min-height: unset;
}

.icon-about {
    width: 44.6vw;
    min-width: 250px;
    height: auto;
}